h1 {
  color: #66bfbf
}

h2 {
  color: #66bfbf
}

h3 {
  color: #66bfbf;
}

body {
  background-color: #eaf6f6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%
}

.profile{
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

img:hover {
  height: 350px;
  width: 350px;
}

td:hover{
  color: blue;
  font-size: 30px;
}

ul:hover{
  color: blue;
}

.intro:hover{
  font-size: 5px;
}
